body {
  background: #ffffee;
  padding: 0;
  margin: 0;
}
header {
  text-align: center;
  display: flex;
  position: absolute;
  height: 450px;
  width: 100%;
  margin-top: 200;
  padding: 0;
  margin-bottom: 0;
  z-index: 1;
}

.btn-container {
  position: absolute;
  background: none;
  border: none;
  color: #ff1900;
  font-family: "Montserrat Subrayada", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
}

.name {
  color: #ff1900;
  font-family: "Bebas Neue", sans-serif;
  /* text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black; */
  position: absolute;

  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
.occupation {
  color: #ff1900;
  font-family: "Bebas Neue", sans-serif;
  /* text-shadow: -1px 0 #990000, 0 3px #990000, 2px 0 #990000, 0 -1px #990000; */
  position: absolute;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.description {
  color: rgb(68, 67, 67);
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 30px;
}
.btn--text {
  background: none;
  border: none;
  color: #ff1900;
  font-family: "Montserrat", sans-serif;
  /* text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black; */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  transition: color 0.3s ease;
}

.btn--text:hover {
  color: #fd8a60;
  transition: color 0.3s ease;
}

.title {
  color: #ff1900;
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  left: 50%;
  top: 10%;
  /* top: 20%;
  left: 50%; */
  transform: translate(-50%, -50%);
  font-size: 60px;
}
/* Picture animation */

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/* Section-1 */
.section-1 {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 1000px;
  z-index: auto;
}

#bio {
  position: absolute;
  color: #ff1900;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  left: 100px;
  top: 100px;
}
#text {
  position: absolute;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  left: 100px;
  top: 200px;
}
.profile {
  position: absolute;
  height: 500px;
  left: 2000px;
  bottom: 444px;
  border: 6px solid #2196f3;
  border-radius: 30px;
}
.button {
  position: absolute;
  /* width: 105px;
  left: 100px;
  bottom: 270px; */
  background-color: #2196f3;
  color: white;
  padding: 1rem 2rem;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 5px;
}

/* section 2 */

.section-2 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 1800px;
  z-index: auto;
  padding: 20px;
}
.logos {
  position: absolute;
  top: 20%;
  left: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}

/* section-3 */

.section-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 2800px;
  z-index: auto;
  padding: 20px;
}

.tile {
  position: absolute;
  top: 00px;
  left: 00px;
  height: 300px;
  width: 350px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 25px;
  z-index: auto;
}

.image-container {
  position: relative;
  display: inline-block;
  padding: 180px;
  border: 2px solid #2196f3;
  top: 300px;
  left: 500px;
  align-items: center;
}

.overlay {
  position: absolute;
  right: 6px;
  bottom: 57px;
  width: 350px;
  height: 300px;
  border: 3px solid black;
  border-radius: 25px;
  background-color: #ff1900;
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffee;
  text-align: center;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container a {
  display: block;
}

.image-container:hover .overlay {
  opacity: 1;
}

/* section-4 */

.section-4 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 780px;
  right: 1260px;
  z-index: auto;
}

.title {
  position: absolute;
  left: 1050px;
}

.flex-container {
  position: absolute;
  top: 350px;
  left: 10px;
  display: flex;
}

.flex-container > div {
  background-color: #ff1900;
  /* margin: 2px; */
  padding: 225px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  width: 260px;
}

h4 {
  color: #ffffee;
}

/* Media queries */
@media (max-width: 320px) {
  body {
    zoom: 1.3;
  }
  /* .name {
    font-size: 120px;
  }
  .occupation {
    bottom: 200px;
    font-size: 70px;
  }
  .description {
    bottom: 150px;
    font-size: 30px;
  } */
  .btn--text {
    top: 100%;
    font-size: 50px;
  }
}
/* @media (min-width: 1200px) {
  .logos {
    top: 35%;
    left: 30%;
  }
} */
