header {
  background: linear-gradient(to right, #2196f3, #2196f3, #2196f2);
  display: flex;
  position: absolute;
  height: 450px;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  z-index: 1;
}
.btn-container {
  position: absolute;
  background: none;
  border: none;
  color: #fd4b0a;
  font-family: "Montserrat Subrayada", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
}

.title {
  color: #fd4b0a;
  font-family: "Montserrat Subrayada", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
  position: absolute;
  top: 50px;
  left: 100px;
  font-size: 60px;
}
.btn--text {
  background: none;
  border: none;
  color: #ff4500;
  font-family: "Montserrat Subrayada", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
  position: absolute;
  top: 300px;
  left: 93px;
  font-size: 45px;
}
/* Picture animation */

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/* Section-1 */
.section-1 {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 600px;
  z-index: auto;
}

#bio {
  position: absolute;
  color: #ff4500;
  font-family: "Montserrat Subrayada", sans-serif;
  text-shadow: -1px 0 black, 0 3px black, 2px 0 black, 0 -1px black;
  font-size: 50px;
  left: 100px;
  top: 100px;
}
#text {
  position: absolute;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  left: 100px;
  top: 200px;
}
.profile {
  position: absolute;
  height: 500px;
  left: 2000px;
  bottom: 444px;
  border: 6px solid #2196f3;
  border-radius: 30px;
}
.button {
  position: absolute;
  /* width: 105px;
  left: 100px;
  bottom: 270px; */
  background-color: #2196f3;
  color: white;
  padding: 1rem 2rem;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 5px;
}
.button.submit {
  position: absolute;
  top: 10px;
  left: 140px;
}

/* section 2 */

.section-2 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 1500px;
  z-index: auto;

  .logo {
    position: absolute;
    top: 200px;
    left: 200px;
    height: 350px;
  }
  .react-logo {
    position: absolute;
    top: 250px;
    left: 1200px;
    height: 250px;
  }
}
/* section-3 */

.section-3 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 2500px;
  z-index: auto;
}

.tile {
  position: relative;
  top: 300px;
  left: 100px;
  height: 200px;
  width: 350px;
  border: 3px solid black;
  border-radius: 25px;
  z-index: auto;
}
.link-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

/* section-4 */

.section-4 {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-top: 3500px;
  z-index: auto;
}

.title.center-aligned {
  position: absolute;
  left: 750px;
}

.contact-us {
  position: absolute;
  top: 300px;
  left: 750px;
}
.text-box {
  height: 75px;
  width: 500px;
  border: 2px solid #2196f3;
  border-radius: 10px;
  font-family: "Inconsolata", monospace;
  font-size: 40px;
}
.text-box.text-area {
  position: absolute;
  top: 280px;
  height: 320px;
}
.button.send {
  position: absolute;
  top: 630px;
  left: 190px;
  height: 50px;
}
button.submit:active {
  background-color: blue;
  box-shadow: 1px 1px 0px 1px whitesmoke;
}

/* media queries */
/* Desktop */
@media only screen and (min-width: 992px) {
  html {
    zoom: 100%;
  }
}

/* Laptop */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    zoom: 80%;
  }
}

/* Phone */
@media only screen and (max-width: 767px) {
  html {
    zoom: 50%;
  }
}
